body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.table-nowrap {
    white-space: nowrap;
    display: inline-table;
    border: 1px solid #337ab7 !important;
}

    .table-nowrap td {
        padding: 2px !important;
        border: 1px solid #337ab7 !important;
        color: black !important;
    }

    .table-nowrap a {
        color: black !important;
    }

.current-page-item {
    background-color: #337ab7 !important;
    color: #fff !important;
}

.disable {
    pointer-events: none;
    color: grey !important;
}

.winPred {
    background-color: #ADFFA5;
}

.loosePred {
    background-color: #FFCFC9;
}

.oddRow {
    background-color: #c8c4c4;
}

.winnerBold {
    font-weight: bolder;
}


.backgroundImage {
    position: relative;
}

.backgroundImage img{
    width: 100%;
}

    .backgroundImage table {
        position: absolute;
        top: 200px;
        left: 0;
    }

        .backgroundImage table h2{
            margin: 1px;
        }

        .backgroundImage table td {
            text-align:right;
        }

h2 span {
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
    display: block;
}

    /* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
