@model HomeIndexSM
@{
    ViewData["Title"] = "Home Page";
}

<div class="backgroundImage">

    <img src="../images/football-field.jpg" alt="" />

    <table>
        <tbody>
            <tr>
                <td><h2><span>Total Games:</span></h2></td>
                <td><h2><span>@Model.Games.ToString("N0")</span></h2></td>
            </tr>
            <tr>
                <td><h2><span>Countries:</span></h2></td>
                <td><h2><span>@Model.Countries.ToString("N0")</span></h2></td>
            </tr>
            <tr>
                <td><h2><span>Leagues:</span></h2></td>
                <td><h2><span>@Model.Leagues.ToString("N0")</span></h2></td>
            </tr>
            <tr>
                <td><h2><span>Teams:</span></h2></td>
                <td><h2><span>@Model.Teams.ToString("N0")</span></h2></td>
            </tr>
        </tbody>
    </table>

    
</div>



