@model GameListingVM
@{
    ViewData["Title"] = $"All Games - {Model.Page.TotalCount}";
}

<h2>@ViewData["Title"]</h2>

@Html.Partial("_Pagination", Model.Page)

@Html.Partial("_GamesTable", Model.Games)

@Html.Partial("_Pagination", Model.Page)